body {
  background-image: url("/ocean.png");
  background-size: 126px auto;
  font-family: sans-serif;
}
a,
a:link {
  color: #5e62d6;
}
a:visited {
  color: #875fd7;
}

.title {
    justify-content: center;
    align-items: center;
}
